<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Running Race</title>
</head>

<h3>Welcome to the Running Race</h3>

<form action="/" method="post" id="sendRace">
    <span th:utext="${message}">please press the button to start</span>
    <input type="hidden" name="running_status" th:value="${running_status}">
    <input type="hidden" name="runner1" th:value="${runner1}">
    <input type="hidden" name="runner2" th:value="${runner2}">
    <input type="hidden" name="runner3" th:value="${runner3}">
    <input type="submit" id="start_btn" value="begin race" disabled="false"> </input>
</form>

</br>

    <div>
        runner1 : <span th:text="${runner1}">0</span> / <span th:text="${total}">100</span>
    </div>
    <div>
        runner2 : <span th:text="${runner2}">0</span> / <span th:text="${total}">100</span>
    </div>
        runner3 : <span th:text="${runner3}">0</span> / <span th:text="${total}">100</span>
    </div>

</body>

<script th:inline="javascript">

    var running_status = [[${running_status}]];
    console.log("running_status = " + running_status);

    if(running_status == true){
        document.getElementById('start_btn').disabled=true;
        document.getElementById("sendRace").submit();
    }
    else document.getElementById('start_btn').disabled=false;

</script>

</html>
